@font-face {
    font-family: "STK Bureau STK Bureau";
    src: url('/Fonts/STK/STKSansRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "STKBureau-Sans-Book";
    src: url('/Fonts/STKBureau-Sans-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abaliss';
    src: url('/Fonts/Abaliss/Abaliss-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abaliss';
    src: url('/Fonts/Abaliss/Abaliss-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abaliss';
    src: url('/Fonts/Abaliss/Abaliss-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";
.font-stk {
    font-family: "STK Bureau STK Bureau";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.font-abaliss {
    font-family: 'Abaliss';
}
.font-stk-book {
    font-family: "STKBureau-Sans-Book";
}
.container{
    max-width: 1336px;
    margin: 0 auto;
}
html{
    scroll-padding-top: 60px; /* This creates offset for all scroll targets */
}
@media (max-width: 992px)  {
    .container{
        padding: 0 16px;
    }
}